.design {
    position: absolute;
    background-color: #3b56e0;
    padding: 30px 33px;
    top: 0%;
    left: 0%;
    border-radius: 50px 4px 40rem 15px;
}
.design_2 {
    position: absolute;
    background-color: #3b56e0;
    padding: 30px 33px;
    bottom: 0%;
    right: 0%;
    border-radius: 40rem 4px 0rem 15px;
}
.design_3 {
    position: absolute;
    background-color: #3b56e0;
    padding: 15px 15px;
    top: 12%;
    right: 10%;
    border-radius: 50%;
}